#whole-page{
  min-height: -webkit-fill-available;
  display: flex;
  justify-content: center; 
  align-items: center;
}

#content-container{
  margin:auto;
  height:75vh;
  width:90vw;
}

.custom-div {
  width: 100%;
}

#ten {
  height: 3vh;
}

#fifty {
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 38vh;
}

#fourty {
  height: 33.5vh;
  display: flex;
  align-items: center;
}

.fifty-img{
  max-height:37vh;
}

 #password_instructions, #confirm_pword_instructions, #hidden_tok{
  display:none;
}